{ config, pkgs, ... }:

{
  imports =
    [
      ./hardware-configuration.nix
    ];

  networking.hostName = "{{ hostname }}";
  networking.networkmanager.enable = true;

  time.timeZone = "{{ timezone }}";

  i18n.defaultLocale = "{{ locale | replace('UTF-8', 'utf8') }}";

  services.xserver = {
    layout = "{{ grub_locale }}";
    xkbVariant = "";
  };

  console.keyMap = "{{ grub_locale }}";

  users.users.{{ username }} = {
    isNormalUser = true;
    description = "{{ username }}";
    initialPassword = "nixos";
    extraGroups = [ "networkmanager" "wheel" "sshusers" "audit" "audio" "video" "uucp" "users" ];
    packages = with pkgs; [];
  };

  nixpkgs.config.allowUnfree = true;

  # List packages installed in system profile.
  environment.systemPackages = with pkgs; [
    vim
    git
    (python39.withPackages (p: with p; [
      cryptography
    ]))
  ];

{% if tmpfs_root %}
  # Don't allow mutation of users outside of the config.
  users.mutableUsers = false;

  environment.etc."machine-id".source
    = "/nix/persistent/etc/machine-id";
  environment.etc."ssh/ssh_host_rsa_key".source
    = "/nix/persistent/etc/ssh/ssh_host_rsa_key";
  environment.etc."ssh/ssh_host_rsa_key.pub".source
    = "/nix/persistent/etc/ssh/ssh_host_rsa_key.pub";
  environment.etc."ssh/ssh_host_ed25519_key".source
    = "/nix/persistent/etc/ssh/ssh_host_ed25519_key";
  environment.etc."ssh/ssh_host_ed25519_key.pub".source
    = "/nix/persistent/etc/ssh/ssh_host_ed25519_key.pub";
{% endif %}

  programs.gnupg.agent = {
    enable = true;
    enableSSHSupport = true;
  };

  services.openssh.enable = true;
  services.openssh.permitRootLogin = "no";

  system.stateVersion = "22.11";
}
