{ config, lib, pkgs, modulesPath, ... }:

{
  imports =
    [ (modulesPath + "/installer/scan/not-detected.nix")
    ];

  boot.initrd.availableKernelModules = [ "nvme" "ahci" "xhci_pci" "usbhid" "usb_storage" "virtio_pci" "mptspi" "sr_mod" "virtio_blk" "sd_mod" "sdhci_pci" "aesni_intel" "cryptd" ];
  boot.initrd.kernelModules = [ ];

  # vmware user must use the module blow:
  # boot.initrd.kernelModules = [ "vmw_pvscsi" ];

{% if has_intel_cpu %}
  boot.kernelModules = [ "kvm-intel" ];
{% elif has_amd_cpu %}
  boot.kernelModules = [ "kvm-amd" ];
{% endif %}
  boot.extraModulePackages = [ ];
  boot.loader.efi.canTouchEfiVariables = true;
  boot.loader.efi.efiSysMountPoint = "/boot/efi";
  boot.loader.grub = {
    enable = true;
    version = 2;
    device = "nodev";
    efiSupport = true;
    enableCryptodisk = true;
  };
  boot.kernelParams = [
    "boot.shell_on_fail"
  ];

  boot.initrd = {
    luks.devices.{{ crypt_label_sys }} = {
        device = "/dev/disk/by-partlabel/{{ part_label_root }}";
        preLVM = true;
        keyFile = "{{ '/' + luks_keyfile.split('/')[-1] }}";
        allowDiscards = true;
    };
    secrets = {
        "{{ luks_keyfile.split('/')[-1] }}" = "{{ luks_keyfile }}";
    };
  };

{% if tmpfs_root %}
  fileSystems."/" = {
    device = "none";
    fsType = "tmpfs";
    options = [ "defaults" "size=2G" "mode=755" ];
  };
{% endif %}

{% for item in btrfs_subvolumes %}
  fileSystems."{{ item.path }}" = {
    device = "/dev/mapper/{{ crypt_label_sys }}";
    fsType = "btrfs";
    options = [ "subvol={{ item.name }}" "compress=zstd" "noatime" ];
  };

{% endfor %}

  fileSystems."/boot/efi" = {
    device = "/dev/disk/by-partlabel/{{ part_label_boot }}";
    fsType = "vfat";
  };

{% if tmpfs_root %}
  fileSystems."/etc/nixos" = {
      device = "/nix/persistent/etc/nixos";
      options = [ "bind" ];
  };
{% endif %}

{% if create_ext4_data_partition %}
  fileSystems."/data" = {
    device = "/dev/mapper/{{ crypt_label_data }}";
    fsType = "ext4";
    encrypted = {
        enable = true;
        label = "{{ crypt_label_data }}";
        blkDev = "/dev/disk/by-partlabel/{{ part_label_data }}";
        keyFile = "{{ '/' + luks_keyfile.split('/')[-1] }}";
      };
  };
{% endif %}

  swapDevices = [ ];

  networking.useDHCP = lib.mkDefault true;

{% if has_intel_cpu %}
  hardware.cpu.intel.updateMicrocode = lib.mkDefault config.hardware.enableRedistributableFirmware;
{% elif has_amd_cpu %}
  hardware.cpu.amd.updateMicrocode = lib.mkDefault config.hardware.enableRedistributableFirmware;
{% endif %}
}
