{ config, lib, pkgs, modulesPath, ... }:

{
  imports =
    [ (modulesPath + "/installer/scan/not-detected.nix")
    ];

  boot.initrd.availableKernelModules = [ "nvme" "ahci" "xhci_pci" "usbhid" "usb_storage" "sd_mod" "sdhci_pci" "aesni_intel" "cryptd" ];
  boot.initrd.kernelModules = [ ];
{% if has_intel_cpu %}
  boot.kernelModules = [ "kvm-intel" ];
{% elif has_amd_cpu %}
  boot.kernelModules = [ "kvm-amd" ];
{% endif %}
  boot.extraModulePackages = [ ];
  boot.loader.efi.canTouchEfiVariables = true;
  boot.loader.efi.efiSysMountPoint = "/boot/efi";
  boot.loader.grub = {
    enable = true;
    version = 2;
    device = "nodev";
    efiSupport = true;
    enableCryptodisk = true;
  };

  boot.initrd = {
    luks.devices.{{ crypt_dev_label }} = {
        device = "/dev/disk/by-partlabel/{{ part_label_root }}";
        preLVM = true;
        keyFile = "{{ '/' + luks_keyfile.split('/')[-1] }}";
        allowDiscards = true;
    };
    secrets = {
        "{{ luks_keyfile.split('/')[-1] }}" = "/etc/secrets/initrd/{{ luks_keyfile.split('/')[-1] }}";
    };
  };

  fileSystems."/" = {
    device = "none";
    fsType = "tmpfs";
    options = [ "defaults" "size=2G" "mode=755" ];
  };

{% for item in btrfs_subvolumes %}
  fileSystems."/home" = {
    device = "/dev/mapper/{{ crypt_dev_label }}";
    fsType = "btrfs";
    options = [ "subvol=@home" "compress=zstd" "noatime" ];
  };
{% endfor %}

  fileSystems."/boot/efi" = {
    device = "/dev/disk/by-partlabel/{{ part_label_boot }}";
    fsType = "vfat";
  };

{% if create_ext4_data_partition %}
  fileSystems."/data" = {
    device = "/dev/disk/by-partlabel/data";
    fsType = "ext4";
  };
{% endif %}

  swapDevices = [ ];

  networking.useDHCP = lib.mkDefault true;

{% if has_intel_cpu %}
  hardware.cpu.intel.updateMicrocode = lib.mkDefault config.hardware.enableRedistributableFirmware;
{% elif has_amd_cpu %}
  hardware.cpu.amd.updateMicrocode = lib.mkDefault config.hardware.enableRedistributableFirmware;
{% endif %}
}
