{ config, pkgs, ... }:

{
  networking.hostName = "nixos";
  networking.networkmanager.enable = true;

  time.timeZone = "{{ timezone }}";

  i18n.defaultLocale = "{{ locale | replace('UTF-8', 'utf8') }}";

  services.xserver = {
    layout = "{{ grub_locale }}";
    xkbVariant = "";
  };

  console.keyMap = "{{ grub_locale }}";

  # Don't forget to set a password with ‘passwd $USERNAME’.
  users.users.nix = {
    isNormalUser = true;
    description = "nix";
    extraGroups = [ "networkmanager" "wheel" "sshusers" "audit" "audio" "video" "uucp" "users"];
    packages = with pkgs; [];
  };

  nixpkgs.config.allowUnfree = true;

  # List packages installed in system profile.
  environment.systemPackages = with pkgs; [
    vim
    git
    (python39.withPackages (p: with p; [
      cryptography
    ]))
  ];

  programs.gnupg.agent = {
    enable = true;
    enableSSHSupport = true;
  };

  services.openssh.enable = true;
  services.openssh.permitRootLogin = "yes";

  # networking.firewall.allowedTCPPorts = [ ... ];
  # networking.firewall.allowedUDPPorts = [ ... ];
  # networking.firewall.enable = false;

  system.stateVersion = "22.05";
}
